.gitattributes text eol=lf
*.html text eol=lf
*.js   text eol=lf
*.json text eol=lf
*.md   text eol=lf
*.yaml text eol=lf
*.yml  text eol=lf
*.db   text eol=lf
*.css  text eol=lf

*.ldb  binary
*.png  binary
MANIFEST-00* binary
packs/cpr-additions-macros/CURRENT text eol=lf
packs/cpr-additions-macros/LOCK text eol=lf
packs/cpr-additions-macros/LOG text eol=lf
packs/cpr-additions-macros/LOG.old text eol=lf
packs/cpr-additions-macros/*.log text eol=lf
